/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: white; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


#profileImage{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;

}

#profileimagecontainer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    button:hover, a:hover {
        opacity: 0.7;
    }

.row {
   display: flex;
   justify-content: center;

}
#projectName {
    font-size: 20px
}

#card-div {
    padding-bottom: 10px;
    padding-right: -10px !important;
}
.img {
    height: 20px;
    width: 20px
}




.project-delete {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px
}

.quotes {
    background-color: #303951;
    border-radius: 10px;
}

.navbar-brand {
    font : italic !important
}

#mainNavBar {
    background-color: #303951 !important;
}

#darkColor {
    background-color: #303951;
    width:100%;
    height: 100%;
}

#navBarText {
    background-color: #303951 !important;

}

#entireProfile {
    display: flex !important;

}

#profilePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    background-color: #303951;
    width: 100%;
    padding: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
}



#momentumLogo {
    font-style: italic;
    color: white !important;
    font-size: 18px;
    margin-right: 5px
}

.h1 {
    font-style: italic;
}

.links {
    color: #303951 !important;
}

.friendsList {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 90px;
}

.width33 {
    width: 45%;
    margin: 6px;
}
.websiteDescription {
padding-top: 10px;
    display: flex;
    justify-content: center;
}

