@model Momentum.Models.ViewModels.UploadProjectPhotoViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="text-center pb-sm-2">
    <h3 class="display-4 font-italic">
       Create A Project
    </h3>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.ProjectName" class="control-label"></label>
                <input asp-for="Project.ProjectName" class="form-control" />
                <span asp-validation-for="Project.ProjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Language" class="control-label"></label>
                <input asp-for="Project.Language" class="form-control" />
                <span asp-validation-for="Project.Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.DurationGoal" class="control-label"></label>
                <input asp-for="Project.DurationGoal" class="form-control" value="Select Date" />
                <span asp-validation-for="Project.DurationGoal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Project.SourceCodeLink" class="control-label"></label>
                <input asp-for="Project.SourceCodeLink" class="form-control" />
                <span asp-validation-for="Project.SourceCodeLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" /><br><br>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-secondary" />
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
