@model Momentum.Models.Friendship

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to unfollow this user?</h3>
<div>
    <h4>Friendship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)   @Html.DisplayFor(model => model.User.LastName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FriendshipId" />
        <input type="submit" value="Unfollow" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
