@model Momentum.Models.Friendship

@{
    ViewData["Title"] = "Delete";
}

    
        <div class="card text-center p-4 pt-5 margin:auto" style="width: 25rem; margin: auto;" >

            <img class="card-img-top" src="https://www.emojirequest.com/images/ConcernedEmoji.jpg" alt="Card image cap">
            <h3 class="p-xl-4">Are you sure you want to unfollow this user?</h3>

            <div>

                <form method="post">
                    <button class="btn btn-secondary" formaction="/Friendships/Unfollow?FriendshipId=@Model.FriendshipId">Submit</button>

                </form>
            </div>
        </div>

