@model Momentum.Models.Friendship

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to unfollow this user?</h3>
@Html.DisplayFor(model => model.FriendshipId)
<div>

    <form method="post">
        <button formaction="/Friendships/Unfollow?FriendshipId=@Model.FriendshipId">Submit</button>

    </form>
</div>
