@model Momentum.Models.ViewModels.HomePageViewModel


@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 ">Momentum</h1>
  <p class="websiteDescription">Momentum is an app to help junior developers stay motivated with their side projects and keep coding. 
    <hr />
    Create and manage your projects, while following what fellow developers are working on.</p>
</div>


    <div class="quotes">
        <div class="quotes text-center pt-xl-4">
            


            @foreach (var item in Model.Quotes)
            {

                <div class="card w-75 h-100" style="margin: auto">
                    <div class="card-header">
                       Motivational Quote
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p> @Html.DisplayFor(modelItem => item.Description)</p>
                            <footer class="blockquote-footer">@Html.DisplayFor(modelItem => item.Author)<cite title="Source Title"></cite></footer>
                        </blockquote>
                    </div>
                </div>
                <div class="p-2">
                    <form asp-action="Index" asp-controller="Home">
                        <div) class="form-group">
                            <input type="submit" class="btn btn-secondary" value="Next" />
                        </div)>
                    </form>
                </div>
            }
        </div>

    </div>

    <div class="homepageprojects text-center pt-4">


        @if (ViewBag.projectCount == 0)
        {
            <h3>You don't have any current projects. Would you like to create one?</h3>
            <p>
                <a asp-action="Create" asp-controller="Projects"  class="links">Create New</a>
            </p>

        }

    </div>


</div>
